*{
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
 
  
}

html {
  scroll-behavior: smooth;
}


.container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerLimit{
  display: flex;
  justify-content: center;
  align-items: center;
}

svg{
  font-size: 50px;
  color: #ccc7c9;
  transition: .3s;
}

svg:hover{
  color: #a76d86;
  cursor: pointer;

}

